$grey-light: #494848;
$purple-light: #9a4582;
$bg-light: #f5ede9;
$font-regular-weight: 400;
$font-medium-weight: 500;

// mobile
:root {
    --margin: 25px;
    --margin-top: 15px;
    --h1-font-size: 36px;
    --h2-font-size: 22px;
    --p-font-size: 18px;
    --div-width: 80%;
    --footer-div-margin: 3px;
}

// desktop
@media screen and (min-width: 768px) {
    :root {
        --margin: 100px;
        --margin-top: 60px;
        --div-width: 40%;
        --footer-div-margin: 30px;
    }
}
