@import "var", "fonts", "reset", "graph";

body {
    font-family: Poppins, serif;
    font-weight: $font-regular-weight;
    background-color: var(--bg-color);
    margin: var(--margin);
    color: var(--grey);
}

h1,
h2 {
    font-weight: $font-medium-weight;
    padding-bottom: 2px;
}

h1 {
    color: var(--grey);
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

main {
    display: flex;
    flex-wrap: wrap;

    div {
        max-width: var(--div-width);
    }

    h2:hover {
        transform: scale(1.01);
    }
}

p {
    font-size: var(--p-font-size);
    padding-bottom: 4px;
}

a {
    color: var(--grey);
}

a:hover {
    text-decoration: none;
    transform: scale(1.05);
}

footer {
    display: flex;
    justify-content: center;

    div {
        margin: var(--footer-div-margin);
        background-color: var(--purple);
        border-radius: 10px;
        width: 60px;
        height: 60px;
        box-shadow: var(--grey) 0 4px 12px;

        svg {
            margin: 50% 0 0 50%;
            transform: translate(-50%, -50%);
            color: var(--grey);
        }
    }

    div:hover {
        transform: translateX(3px) translateY(4px);
        box-shadow: none;
    }
}

// desktop
@media screen and (min-width: 768px) {
    main {
        div.left {
            justify-content: left;
        }

        div.right {
            justify-content: right;
        }
    }
}
